<div>
  <div class="card" style="margin-top: 7%;margin-left: 31.3%;width: 36%;">
    <div class="card-body">
      <div>
        <button type="button" class="btn btn-dark btn-lg btn-block font-weight-light" routerLink="/smartGate">Smart
          Gate</button>
      </div>
      <div>
        <button type="button" class="btn btn-dark btn-lg btn-block font-weight-light" style="margin-top:.3%" routerLink="/smartElevator">
          Smart Elevator</button>
      </div>
      <div>
        <button type="button" class="btn btn-dark btn-lg btn-block font-weight-light" style="margin-top:.3%;"
          routerLink="/admin">Administration</button>
      </div>

    </div>
  </div>


  <app-dashboard></app-dashboard>

</div>